.monthInterest {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.monthTotal {
  display: flex;
  justify-content: space-between;
}

.green {
  color: rgba(66, 226, 111, 1);
  background-color: rgba(240, 253, 243, 1);
}

.compare {
  display: flex;
  gap: 1rem;
}
