* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}



.haeder {
  position: fixed;
  top: 0;
  left: 20%; 
  width: calc(100% - 20%); 
  height: 10vh;
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 50; 
justify-content: space-between;
}



.dashIcon {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dashboard {
  font-size: 1.3rem;
  font-weight: 600;
}

.dashLogos {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .haeder {
    width: calc(100% - 90px); 
    left: 90px;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .haeder {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    height: auto;
    padding: 1rem;
  }}