* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.home {
  background: url("../../public/images/bg__.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.homeText1 {
  color: white;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 4rem;
  line-height: 4rem;
}

.home2 {
  width: 90%;
  margin: 0 auto;
}

.investConsult {
  font-weight: 600;
  border: none;
  padding: 1.5rem 1rem;
  color: white;
  background-color: rgb(144, 12, 12);
  border-radius: 0.4rem;
  font-size: 1rem;
  margin-top: 2rem;
  transition: background-color 300ms, color 300ms;
}

.investConsult:hover {
  background-color: rgb(110, 10, 10);
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.benefit1 {
  padding: 0.8rem;
  color: rgba(0, 128, 0, 1);
  border-radius: 2rem;
  border: 0.1rem solid rgba(0, 128, 0, 0.5);
  background-color: rgba(212, 255, 255, 0.3);
}

.benefit2 {
  padding: 0.8rem;
  color: rgba(26, 35, 126, 1);
  border-radius: 2rem;
  border: 0.1rem solid rgba(26, 35, 126, 1);
  background-color: rgba(26, 35, 126, 0.1);
}

.benefit3 {
  padding: 0.8rem;
  color: rgba(74, 6, 6, 1);
  border-radius: 2rem;
  border: 0.1rem solid rgba(74, 6, 6, 0.5);
  background-color: rgba(255, 0, 0, 0.1);
}

.pictureDiv {
  width: 100%;
  display: flex;
  gap: 5rem;
  align-items: center;
  margin: 1.5rem 0;
}

.pictureD {
  width: 49%;
}

.invest1 {
  color: rgba(70, 20, 4, 1);
  text-align: center;
  font-style: italic;
  padding: 0.6rem 0;
  border-radius: 2rem;
  border: 0.15rem solid rgba(70, 20, 4, 1);
  background-color: rgba(255, 247, 236);
  width: 90%;
  margin: 1rem 0 1rem 0;
}

.about {
  width: 49%;
}

.aboutImg {
  width: 100%;
}

.cardTitle {
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.cardPara {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.vismi {
  display: flex;
  margin: 1rem 0;
  gap: 1.5rem;
  justify-content: space-between;
}

.card {
  font-size: 1.2rem;
}

.cardTitleM {
  color: rgba(5, 69, 5, 1);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cardTitleMG {
  color: rgba(26, 35, 126, 1);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.card {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.join {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.profiles {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-behavior: smooth;
}

.profiles > * {
  flex-shrink: 0;
}

.profiles::-webkit-scrollbar {
  height: 0px;
}

.home4 {
  background-color: rgba(255, 240, 240, 1);
  display: flex;
  margin: 3rem 0;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.secur {
  width: 58%;
}

@media (max-width: 768px) {
  .pictureDiv {
    flex-direction: column;
  }

  .pictureD {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .vismi {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
  }

  .home4 {
    flex-direction: column;
  }
}
