* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.headHi {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0.5rem auto;
}

.imgnav {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.logo {
  width: 20%;
}

.about{
    margin-left: 2rempx;
    margin-top: 1rem;
    list-style: none;
 
}

.navLi a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.ab{
    font-weight: 600;
}

.active {
  background-color: white;
  border-radius: 0.1rem;
}

.navUl {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.numLog{
    display: flex;
    gap: 1rem;
    width: 50%;
    align-items: center;
    font-weight: 600;
}

.invest{
    font-weight: 600;
    border: none;
    padding: .8rem 1rem;
    background-color: rgb(62,131,49);
    border-radius: .4rem;
    font-size: .8rem;
}