* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  .profileCard {
    border: 0.1rem solid rgba(176, 176, 176, 1);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 300px;
    margin: 1rem 0;
    /* height: 40vh; */
  }
  
  .profileText1 {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .profile {
    width: 40%;
    height: 20vh;
    margin-top: 1rem;
    border-radius: .5rem;
  }
  
  .profileText2 {
    /* font-style: italic; */
    font-size: 0.8rem;
    font-weight: 500;
  }
  